@model IEnumerable<buoi6.Models.InvoiceDetails>

@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    ViewData["Title"] = "Index";
    var kq = from top in Model
             group top by top.Product.Name into gr
             let quatity = gr.Sum(top => top.Quantity)
             orderby quatity descending
             select new
             {
                 product = gr.Key,
                 soluong = quatity
             };
}

<h1>Top sản phẩm bán chạy</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Số lượng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in kq)
            {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.product)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.soluong)
            </th>
        </tr>
            }
    </tbody>
</table>
